<link rel="stylesheet" href="/css/styles.css" />

<body>
  <%- include('../partials/navbar') %>
          <h1>🎮 Welcome Back</h1>


          <form class="form-container" action="/auth/sign-in" method="POST">
                      <p class="subtitle">Sign in to continue</p>
            <label for="username">Username *</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter your username"
              required
            />

            <label for="password">Password *</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter your password"
              required
            />

            <button type="submit">Sign In</button>
                      <p class="footer-text">
            Don't have an account? <a href="/auth/sign-up">Sign Up</a>
          </form>


          </p>
        </div>
      </div>
    </div>
</body>
</html>
