<nav>
  <a href="/" class="nav-brand">
    <img
      src="/evowhite.png"
      alt="Evo Games"
      style="height: 40px; vertical-align: middle"
    />
    Evo Games
  </a>

  <div class="nav-links">
    <a href="/items">Browse All</a>
    <a href="/items/category/console">Consoles</a>
    <a href="/items/category/game">Games</a>
    <a href="/items/category/accessory">Accessories</a>

    <% if (user) { %>
    <a href="/users/Profile" class="user-info">👤 <%= user.username %></a>
    <a href="/items/new" class="btn btn-primary">Sell Item</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up" class="btn btn-primary">Sign Up</a>
    <% } %>
  </div>
</nav>

