@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f9f7f0;
  font-weight: bold;

}

nav {
  background-color: blue;
  height: 12vh;
}
.categories {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 20px;
  padding-top: 5px;
}

a{
  color: yellow;
}

